@font-face {
  font-family: "MyFont";
  src: url("/public/fonts/Satoshi-Variable.ttf") format("truetype");
}

:root {
  --primary-color: #ff6428;
}

.colorText {
  color: var(--primary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "MyFont";
}

h1 {
  font-size: 48px;
  line-height: 55px;
}

p {
  font-size: 14px;
  opacity: 0.7;
}

img {
}
